* {
  padding: 0px;
}
.nav-bar-main {
  background-color: #2dbdbd;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row nowrap;
}
.nav-bar-main a {
  width: 30%;
}
.nav-bar-main form {
  width: 30%;
}
.nav-bar-main .icons {
  width: 40%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row nowrap;
}
.nav-bar-main .icons .right {
  width: 50%;
}
.nav-bar-main .icons .left {
  width: 50%;
  list-style: none;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-flow: row nowrap;
}
.nav-bar-main .icons .left li {
  width: 33.3%;
  border-left: 2px solid #537c8e;
  text-align: center;
}
nav .btn-search {
  background-color: #537c8e;
  color: #eff1e4;
}
nav .btn-search:hover {
  background-color: #537c8e;
  color: #eff1e4;
}
.nav-bar-secondary {
  background-color: #ceae7f;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
.navbar-nav li {
  width: 33.33%;
  border-right: 2px solid #eff1e4;
}
.navbar-nav li a {
  text-decoration: none;
  color: #eff1e4;
  text-align: center;
  height: 100%;
}
.fas {
  color: #eff1e4;
}

.form {
  padding-top: 5%;
  position: absolute;
  width: 1000px;
  height: 480px;
  left: 200px;
  top: 150px;

  background: #eeeeee;
  box-shadow: 0px 4px 4px #ceae7f;
}
.date {
  padding-top: 5%;
  width: 900px;
  height: 310px;
}
h2 {
  font-family: Red Hat Display;
}
.pID {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  float: left;
  margin-left: 2%;
  text-align: center;
}

.pDI {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin-left: 33%;
  text-align: center;
}

#productId {
  margin-left: 3.5%;
  width: 181px;
  height: 30px;
  left: 380px;
  top: 40px;
  float: left;
  background: #ffffff;
  box-shadow: 0px 4px 4px #2dbdbd;
  border: #ffffff;
}
#productC {
  width: 181px;
  height: 30px;
  left: 350px;
  margin-right: 3%;
  top: 40px;
  float: right;
  background: #ffffff;
  box-shadow: 0px 4px 4px #2dbdbd;
  border: #ffffff;
}
#productN {
  margin-left: 7%;
  width: 181px;
  height: 30px;
  left: 380px;
  top: 40px;
  float: left;
  background: #ffffff;
  box-shadow: 0px 4px 4px #2dbdbd;
  border: #ffffff;
}
#productQ {
  margin-left: 4.8%;
  width: 181px;
  height: 30px;
  left: 380px;
  top: 40px;
  float: left;
  background: #ffffff;
  box-shadow: 0px 4px 4px #2dbdbd;
  border: #ffffff;
}
#productD {
  margin-left: 2.5%;
  width: 33%;
  height: 28%;
  left: 380px;
  top: 40px;
  float: left;
  background: #ffffff;
  box-shadow: 0px 4px 4px #2dbdbd;
  border: #ffffff;
}
#productT {
  width: 181px;
  height: 30px;
  left: 350px;
  margin-right: 3%;
  top: 40px;
  float: right;
  background: #ffffff;
  box-shadow: 0px 4px 4px #2dbdbd;
  border: #ffffff;
}
#productP {
  width: 181px;
  height: 30px;
  left: 350px;
  margin-right: 3%;
  top: 40px;
  float: right;
  background: #ffffff;
  box-shadow: 0px 4px 4px #2dbdbd;
  border: #ffffff;
}

.button {

    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1px;
    margin-left: 10%;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button1 {

  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  margin-left: 33%;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
    background-color: lightslategray; 
    color: white; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
